<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Poco.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PocoFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PocoJSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PocoNet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>465666841B6DA654006F03F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4656668F1B6DA655006F03F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>465666AB1B6DA667006F03F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>465666B51B6DA667006F03F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>465666C61B6DA670006F03F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>465666D01B6DA671006F03F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>465666E11B6DA67A006F03F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>465666EB1B6DA67B006F03F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
